{% extends 'base.html' %}

{% block content %}
  <p><a href="{% url 'assessment:survey_list' %}">See Survey List</a></p>
  <p><a href="{% url 'assessment:result_list' %}">See Result List</a></p>

  <h4>Click a User to see their results</h4>
  {% for user in user_list %}
    <p><a href="{% url 'assessment:user_results' user.id %}">{{ user.username }}</a></p>
  {% endfor %}

  <h4>Click a Survey to its results</h4>
  {% for survey in survey_list %}
    <p><a href="{% url 'assessment:survey_result_list' survey.slug %}">{{ survey }}</a></p>
  {% endfor %}

{% endblock %}
