{% extends 'base.html' %}

{% block content %}

  <h1>{{ profile.user }}</h1>
  <h2>Available Surveys</h2>
  <table class="table">
    <tr>
      <th>Survey Name</th>
      <th>Date Posted</th>
      <th>Date Due</th>
    </tr>
    {% for survey in profile.surveys.all %}
      <tr>
          <td><a href="{{ survey.get_absolute_url }}">{{ survey.name }}</a></td>
          <td>{{ survey }}</td>
          <td>{{ survey }}</td>
      </tr>
    {% endfor %}

    {% for surveygroup in profile.surveygroups.all %}
      {% for survey in surveygroup.surveys.all %}
      <tr>
          <td><a href="{{ survey.get_absolute_url }}">{{ survey.name }}</a></td>
          <td>{{ survey }}</td>
          <td>{{ survey }}</td>
      </tr>
      {% endfor %}
    {% endfor %}


  </table>
{% endblock %}
