{% extends 'base.html' %}

{% block content %}
  <h2>Available Surveys</h2>
  <table class="table">
  <tr>
    <th>Survey Name</th>
    <th>Published On</th>
    <th>Due Date</th>
  </tr>
  {% for survey in incomplete_surveys %}
  <tr>
    <td><a href="{{ survey.get_absolute_url }}">{{ survey }}</a></td>
    <td>{{ survey.pub_date }}</td>
    <td>{{ survey.due_date }}
  </tr>
  {% endfor %}
  </table>
  <h2>Completed Surveys</h2>
  <table class="table">
  <tr>
    <th>Survey Name</th>
    <th>Completed On</th>
    <th>Your Score</th>
  </tr>
  {% for result in user_results %}
    <tr>
      <td><a href="{{ result.get_absolute_url }}">{{ result.survey.name }}</a></td>
      <td>{{ result.completed_on }}</td>
      <td>{{ result.score }}</td>
  </tr>
  {% endfor %}
{% endblock %}
