[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-parler = "*"
django-parler-rest = "*"
django-cors-headers = "*"
django-environ = "*"
django-allauth = "*"
"django-rest-auth[with-social]" = "*"
ipython = "*"
newrelic = "*"
twine = "*"
"e1839a8" = {editable = true, path = "."}
"psycopg2" = "*"

[dev-packages]
pylint = "*"
