[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
dj-database-url = "*"
Django = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"
Markdown = "*"
django-filter = "*"
django-parler = "*"
django-parler-rest = "*"
django-cors-headers = "*"
django-environ = "*"
django-allauth = "*"
"django-rest-auth[with-social]" = "*"
django-assessment = "*"
ipython = "*"
newrelic = "*"
twine = "*"
"psycopg2" = "*"
