[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
djangorestframework = "*"
Markdown ="*"
django-filter = "*"
django_parler = "*"
django-parler-rest = "*"
django-cors-headers ="*"
django-assessment = "*"

[requires]
python_version = "3.6"
